$background-color: #5b5253;
$text-color: white;
$background-color_3: #847d7d;

.display {
	display: flex;
	flex-direction: column;
	background-color: $background-color;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	min-height: 120px;
	min-width: 400px;
	.text {
		margin-top: 40px;
		margin-right:12px;
		text-align: right;
		font-size: 35px;
		letter-spacing: 1.5px;
		color: $text-color;
	}

}


.input {
	text-align: right;
	background-color: $background-color_3;
	color: $text-color;
	border: 0px;
	letter-spacing: 1.5px;
	font-size: 35px;
	width: "100%";

	&::placeholder {
		color: $text-color;
	}

	&:focus-visible {
		outline-style: none;
		outline-width: 0px;
	}
}