:root{
    --brown: "#5b5453",
    --brown2: "#6b6364",
    --brown3: "#847d7d",
    --yellow: "#fd9e2b",
    --gray: "#c1c1c1",
    --green: "#34c548",
    --red: "#fc625e",
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    flex:1;
    height:100vh;
}
